
.fs_style_22, stylename_button-style_download {display: block;
color: #595959;
font-family: "Benton Sans";
font-size: 15px;
line-height: 18px;
padding: 16px 20px 16px 55px;
border: 1px solid #D8D8D8;
background-color: #F7F7F7;
}

.fs_style_21, stylename_button-style_link {display: block;
color: #595959;
font-family: "Benton Sans";
font-size: 15px;
line-height: 18px;
padding: 16px 20px 16px 55px;
border: 1px solid #D8D8D8;
background-color: #F7F7F7;
}

.fs_style_16, stylename_button_coral {display: inline-block;
color: #fff;
font-family: "Benton Sans";
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
padding: 15px 20px;
background-color: #F95A5E;}

.fs_style_14, stylename_button_hollow {display: inline-block;
color: #932235;
font-family: "Benton Sans";
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
border: 1px solid #D8D8D8;
padding: 15px 20px;}

.fs_style_19, stylename_button_large {text-transform: none;
font-size: 18px;
line-height: 26px;
padding: 18px 90px 30px;}

.fs_style_17, stylename_button_purple {display: inline-block;
color: #fff;
font-family: "Benton Sans";
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
padding: 15px 20px;
background-color: #5D6FA8;}

.fs_style_15, stylename_button_red {display: inline-block;
color: #fff;
font-family: "Benton Sans";
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
padding: 15px 20px;
background-color: #932235;}

.fs_style_18, stylename_button_teal {display: inline-block;
color: #fff;
font-family: "Benton Sans";
font-size: 12px;
font-weight: 700;
letter-spacing: 0.5px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
padding: 15px 20px;
background-color: #39BDBF;}

.fs_style_11, stylename_callout-style {background-color: #932235;
color: #FFFFFF;
font-size: 36px;
line-height: 44px;
padding: 50px;
font-weight: 700;
display: block;}

.fs_style_24, stylename_caption-text {display: block;
color: #595959;
font-family: "Benton Sans";
font-size: 14px;
line-height: 22px;
}

.fs_style_12, stylename_citation {display: block;
color: #999999;
font-family: "Benton Sans";
font-size: 13px;
font-weight: 700;
letter-spacing: 1px;
line-height: 18px;
text-transform: uppercase;}

.fs_style_1, stylename_enotify_section1 {font-size: 25px;
font-weight: bold;
color: #9F1A35;
border-bottom: #9F1A35 1px solid;
padding-bottom: 5px;
margin-top: 20px;}

.fs_style_3, stylename_enotify_section2 {font-size: 17px;
font-weight: bold;
color: #4E4945;
}

.fs_style_2, stylename_enotify_section3 {font-size: 17px;
font-weight: bold;
color: #9F1A35;}

.fs_style_4, stylename_enotify_section4 {font-size: 19px;
font-weight: bold;
color: #9F1A35;
}

.fs_style_5, stylename_enotify_section5 {font-size: 15px;
font-weight: bold;
color: #4E4945;
text-align: center;
}

.fs_style_6, stylename_enotify_section6 {font-size: 15px;
font-weight: bold;
color: #6F1224;
text-align: center;
}

.fs_style_7, stylename_enotify_title {font-size: 22px;
font-weight: normal;
color: #ffffff;
text-align: center;}

.fs_style_10, stylename_lead-in {color: #3A3A3A;
font-family: "Benton Sans";
font-size: 24px;
line-height: 35px;
display: block;}

.fs_style_20, stylename_link-style_read-more {display: inline-block;
color: #595959;
font-family: "Benton Sans";
font-size: 16px;
font-weight: bold;
line-height: 23px;
}

.fs_style_23, stylename_link-style_read-more_alt {color: #5D6FA8;
font-family: "Benton Sans";
font-size: 16px;
font-weight: bold;
line-height: 23px;
display: inline-block;}

.fs_style_9, stylename_Red__Font {color: #9E1A32;}

.fs_style_13, stylename_table-styled {display: table;}
